# 1. Package Import

In [2]:
import numpy as np 
import pandas as pd 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor

# 2. Data Load

In [5]:
X_test = pd.read_csv("Student_Performance_X_test.csv")
X_train = pd.read_csv("Student_Performance_X_train.csv")
y_train = pd.read_csv("Student_Performance_y_train.csv")

In [8]:
X_train.head()

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

In [7]:
X_test.head()

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1000,GP,F,16,U,GT3,T,4,2,services,...,no,4,2,3,1,1,5,2,15,16
1,1008,GP,M,19,U,GT3,T,1,2,other,...,no,4,5,2,2,2,4,3,13,11
2,1013,GP,F,16,U,GT3,T,4,4,services,...,no,3,2,3,1,2,2,6,13,14
3,1014,GP,F,16,U,GT3,T,3,1,services,...,no,4,3,3,1,2,5,4,7,7
4,1017,GP,F,15,U,LE3,A,3,4,other,...,yes,5,3,2,1,1,1,0,10,11

In [9]:
y_train.head()

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

# 3. Data Preprocessing

## 3.1. EDA(Exploratory Data Analysis)

In [14]:
data = [X_train, X_test, y_train]
for datum in data:
    print(datum.describe())
    print()
    print(datum.info())
    print()
    print(datum.corr())
    print()
    print(datum.columns)
    print()
    print('*  ' * 40)

         StudentID         age        Medu        Fedu  traveltime  \
count   678.000000  678.000000  678.000000  678.000000   678.00000
mean   1516.181416   16.719764    2.607670    2.371681     1.50590
std     303.029891    1.239881    1.134682    1.096750     0.73675
min    1001.000000   15.000000    0.000000    0.000000     1.00000
25%    1253.250000   16.000000    2.000000    1.000000     1.00000
50%    1508.000000   17.000000    3.000000    2.000000     1.00000
75%    1780.750000   18.000000    4.000000    3.000000     2.00000
max    2043.000000   22.000000    4.000000    4.000000     4.00000

        studytime    failures      famrel    freetime       goout        Dalc  \
count  678.000000  678.000000  678.000000  678.000000  678.000000  678.000000
mean     1.989676    0.261062    3.933628    3.233038    3.140118    1.480826
std      0.848082    0.664340    0.952346    1.042083    1.165537    0.895789
min      1.000000    0.000000    1.000000    1.000000    1.000000    1.000000
25%      1.000000    0.000000    4.000000    3.000000    2.000000    1.000000
50%      2.000000    0.000000    4.000000    3.000000    3.000000    1.000000
75%      2.000000    0.000000    5.000000    4.000000    4.000000    2.000000
max      4.000000    3.000000    5.000000    5.000000    5.000000    5.000000

             Walc      health    absences         G1          G2
count  678.000000  678.000000  678.000000  678.00000  678.000000
mean     2.293510    3.522124    4.594395   11.20649   11.182891
std      1.287705    1.431430    6.527236    2.90395    3.296146
min      1.000000    1.000000    0.000000    4.00000    0.000000
25%      1.000000    2.000000    0.000000    9.00000    9.000000
50%      2.000000    4.000000    2.000000   11.00000   11.000000
75%      3.000000    5.000000    6.000000   13.00000   13.000000
max      5.000000    5.000000   75.000000   19.00000   19.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   678 non-null    int64
 1   school      678 non-null    object
 2   sex         678 non-null    object
 3   age         678 non-null    int64
 4   address     678 non-null    object
 5   famsize     678 non-null    object
 6   Pstatus     678 non-null    object
 7   Medu        678 non-null    int64
 8   Fedu        678 non-null    int64
 9   Mjob        678 non-null    object
 10  Fjob        678 non-null    object
 11  reason      678 non-null    object
 12  guardian    678 non-null    object
 13  traveltime  678 non-null    int64
 14  studytime   678 non-null    int64
 15  failures    678 non-null    int64
 16  schoolsup   678 non-null    object
 17  famsup      678 non-null    object
 18  paid        678 non-null    object
 19  activities  678 non-null    object
 20  nursery     678 non-null    object
 21  higher      678 non-null    object
 22  internet    678 non-null    object
 23  romantic    678 non-null    object
 24  famrel      678 non-null    int64
 25  freetime    678 non-null    int64
 26  goout       678 non-null    int64
 27  Dalc        678 non-null    int64
 28  Walc        678 non-null    int64
 29  health      678 non-null    int64
 30  absences    678 non-null    int64
 31  G1          678 non-null    int64
 32  G2          678 non-null    int64
dtypes: int64(16), object(17)
memory usage: 174.9+ KB
None

            StudentID       age      Medu      Fedu  traveltime  studytime  \
StudentID    1.000000 -0.025568  0.033835  0.008819   -0.015510   0.052696
age         -0.025568  1.000000 -0.132860 -0.140538    0.055174  -0.028041
Medu         0.033835 -0.132860  1.000000  0.637230   -0.246363   0.081743
Fedu         0.008819 -0.140538  0.637230  1.000000   -0.198317   0.008896
traveltime  -0.015510  0.055174 -0.246363 -0.198317    1.000000  -0.093282
studytime    0.052696 -0.028041  0.081743  0.008896   -0.093282   1.000000
failures    -0.048207  0.259307 -0.189205 -0.186079    0.103983  -0.157755
famrel       0.013933  0.010495  0.030544  0.012340    0.001612   0.041214
freetime     0.028179  0.032327 -0.028747 -0.059096   -0.009489  -0.124297
goout       -0.065217  0.117159 -0.011983 -0.001513    0.032579  -0.071757
Dalc        -0.040965  0.109528 -0.000146 -0.001756    0.107602  -0.170389
Walc        -0.064961  0.085824 -0.005991  0.059653    0.036317  -0.223099
health      -0.014153 -0.056425 -0.011018  0.070966   -0.042143  -0.039356
absences    -0.038585  0.132313  0.079398  0.055754   -0.030064  -0.099487
G1           0.062156 -0.106158  0.254589  0.208222   -0.168338   0.207787
G2           0.073663 -0.109604  0.253413  0.203855   -0.175014   0.177164

            failures    famrel  freetime     goout      Dalc      Walc  \
StudentID  -0.048207  0.013933  0.028179 -0.065217 -0.040965 -0.064961
age         0.259307  0.010495  0.032327  0.117159  0.109528  0.085824
Medu       -0.189205  0.030544 -0.028747 -0.011983 -0.000146 -0.005991
Fedu       -0.186079  0.012340 -0.059096 -0.001513 -0.001756  0.059653
traveltime  0.103983  0.001612 -0.009489  0.032579  0.107602  0.036317
studytime  -0.157755  0.041214 -0.124297 -0.071757 -0.170389 -0.223099
failures    1.000000 -0.077633  0.121088  0.065239  0.101502  0.093323
famrel     -0.077633  1.000000  0.098958  0.057628 -0.128756 -0.114175
freetime    0.121088  0.098958  1.000000  0.297785  0.091823  0.096454
goout       0.065239  0.057628  0.297785  1.000000  0.238133  0.359336
Dalc        0.101502 -0.128756  0.091823  0.238133  1.000000  0.647071
Walc        0.093323 -0.114175  0.096454  0.359336  0.647071  1.000000
health      0.030420  0.106724  0.055953 -0.009386  0.063113  0.093836
absences    0.078957 -0.050911 -0.036030  0.038353  0.131170  0.135092
G1         -0.374059  0.036475 -0.075963 -0.145594 -0.147247 -0.118538
G2         -0.369905  0.034459 -0.090693 -0.124717 -0.119374 -0.097580

              health  absences        G1        G2
StudentID  -0.014153 -0.038585  0.062156  0.073663
age        -0.056425  0.132313 -0.106158 -0.109604
Medu       -0.011018  0.079398  0.254589  0.253413
Fedu        0.070966  0.055754  0.208222  0.203855
traveltime -0.042143 -0.030064 -0.168338 -0.175014
studytime  -0.039356 -0.099487  0.207787  0.177164
failures    0.030420  0.078957 -0.374059 -0.369905
famrel      0.106724 -0.050911  0.036475  0.034459
freetime    0.055953 -0.036030 -0.075963 -0.090693
goout      -0.009386  0.038353 -0.145594 -0.124717
Dalc        0.063113  0.131170 -0.147247 -0.119374
Walc        0.093836  0.135092 -0.118538 -0.097580
health      1.000000 -0.027416 -0.041255 -0.074742
absences   -0.027416  1.000000 -0.070308 -0.071038
G1         -0.041255 -0.070308  1.000000  0.862851
G2         -0.074742 -0.071038  0.862851  1.000000

Index(['StudentID', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2'],
      dtype='object')

*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
         StudentID         age        Medu        Fedu  traveltime  \
count   366.000000  366.000000  366.000000  366.000000  366.000000
mean   1531.352459   16.737705    2.595628    2.418033    1.554645
std     298.868558    1.241762    1.108069    1.106693    0.722263
min    1000.000000   15.000000    0.000000    0.000000    1.000000
25%    1279.500000   16.000000    2.000000    1.250000    1.000000
50%    1535.500000   17.000000    3.000000    2.000000    1.000000
75%    1783.750000   18.000000    4.000000    3.000000    2.000000
max    2037.000000   22.000000    4.000000    4.000000    4.000000

        studytime    failures      famrel    freetime       goout        Dalc  \
count  366.000000  366.000000  366.000000  366.000000  366.000000  366.000000
mean     1.934426    0.270492    3.939891    3.142077    3.185792    1.519126
std      0.808222    0.641534    0.898519    1.010374    1.129148    0.941241
min      1.000000    0.000000    1.000000    1.000000    1.000000    1.000000
25%      1.000000    0.000000    4.000000    3.000000    2.000000    1.000000
50%      2.000000    0.000000    4.000000    3.000000    3.000000    1.000000
75%      2.000000    0.000000    4.750000    4.000000    4.000000    2.000000
max      4.000000    3.000000    5.000000    5.000000    5.000000    5.000000

             Walc      health    absences          G1          G2
count  366.000000  366.000000  366.000000  366.000000  366.000000
mean     2.267760    3.581967    4.139344   11.226776   11.363388
std      1.281865    1.413284    5.571427    3.129260    3.265708
min      1.000000    1.000000    0.000000    0.000000    0.000000
25%      1.000000    3.000000    0.000000    9.000000    9.000000
50%      2.000000    4.000000    2.000000   11.000000   11.000000
75%      3.000000    5.000000    6.000000   13.750000   13.000000
max      5.000000    5.000000   40.000000   19.000000   19.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   366 non-null    int64
 1   school      366 non-null    object
 2   sex         366 non-null    object
 3   age         366 non-null    int64
 4   address     366 non-null    object
 5   famsize     366 non-null    object
 6   Pstatus     366 non-null    object
 7   Medu        366 non-null    int64
 8   Fedu        366 non-null    int64
 9   Mjob        366 non-null    object
 10  Fjob        366 non-null    object
 11  reason      366 non-null    object
 12  guardian    366 non-null    object
 13  traveltime  366 non-null    int64
 14  studytime   366 non-null    int64
 15  failures    366 non-null    int64
 16  schoolsup   366 non-null    object
 17  famsup      366 non-null    object
 18  paid        366 non-null    object
 19  activities  366 non-null    object
 20  nursery     366 non-null    object
 21  higher      366 non-null    object
 22  internet    366 non-null    object
 23  romantic    366 non-null    object
 24  famrel      366 non-null    int64
 25  freetime    366 non-null    int64
 26  goout       366 non-null    int64
 27  Dalc        366 non-null    int64
 28  Walc        366 non-null    int64
 29  health      366 non-null    int64
 30  absences    366 non-null    int64
 31  G1          366 non-null    int64
 32  G2          366 non-null    int64
dtypes: int64(16), object(17)
memory usage: 94.5+ KB
None

            StudentID       age      Medu      Fedu  traveltime  studytime  \
StudentID    1.000000 -0.172096  0.070090  0.032438   -0.099335  -0.037991
age         -0.172096  1.000000 -0.125083 -0.135304    0.037408   0.031953
Medu         0.070090 -0.125083  1.000000  0.652080   -0.222215   0.107975
Fedu         0.032438 -0.135304  0.652080  1.000000   -0.194893   0.082802
traveltime  -0.099335  0.037408 -0.222215 -0.194893    1.000000  -0.054858
studytime   -0.037991  0.031953  0.107975  0.082802   -0.054858   1.000000
failures    -0.065000  0.326605 -0.184870 -0.202148    0.053748  -0.140068
famrel      -0.015388  0.000564 -0.016225  0.014318   -0.041363  -0.046942
freetime    -0.004421 -0.053196  0.058798  0.120701    0.000595  -0.038885
goout        0.018673  0.120826  0.099626  0.088956    0.081580  -0.073675
Dalc        -0.003292  0.175420  0.004809  0.001509    0.111300  -0.138803
Walc         0.049469  0.121696 -0.074013 -0.054012    0.176499  -0.242162
health      -0.047085  0.021651 -0.017265 -0.035105   -0.005742  -0.108013
absences    -0.008225  0.200925  0.015809  0.011411   -0.002919  -0.025345
G1          -0.002895 -0.155275  0.176644  0.175076   -0.038833   0.219299
G2          -0.028168 -0.138576  0.170186  0.142061   -0.076392   0.197970

            failures    famrel  freetime     goout      Dalc      Walc  \
StudentID  -0.065000 -0.015388 -0.004421  0.018673 -0.003292  0.049469
age         0.326605  0.000564 -0.053196  0.120826  0.175420  0.121696
Medu       -0.184870 -0.016225  0.058798  0.099626  0.004809 -0.074013
Fedu       -0.202148  0.014318  0.120701  0.088956  0.001509 -0.054012
traveltime  0.053748 -0.041363  0.000595  0.081580  0.111300  0.176499
studytime  -0.140068 -0.046942 -0.038885 -0.073675 -0.138803 -0.242162
failures    1.000000 -0.004987  0.067351  0.093065  0.143405  0.134900
famrel     -0.004987  1.000000  0.214647  0.127155  0.020800 -0.073999
freetime    0.067351  0.214647  1.000000  0.377842  0.244890  0.194774
goout       0.093065  0.127155  0.377842  1.000000  0.280209  0.478496
Dalc        0.143405  0.020800  0.244890  0.280209  1.000000  0.595215
Walc        0.134900 -0.073999  0.194774  0.478496  0.595215  1.000000
health      0.082751  0.098820  0.133802 -0.023304  0.068844  0.131520
absences    0.148861 -0.088077 -0.028348  0.098652  0.140812  0.150127
G1         -0.375915  0.037991 -0.009352 -0.022812 -0.157281 -0.183881
G2         -0.392280  0.056950 -0.023993 -0.078541 -0.155127 -0.184960

              health  absences        G1        G2
StudentID  -0.047085 -0.008225 -0.002895 -0.028168
age         0.021651  0.200925 -0.155275 -0.138576
Medu       -0.017265  0.015809  0.176644  0.170186
Fedu       -0.035105  0.011411  0.175076  0.142061
traveltime -0.005742 -0.002919 -0.038833 -0.076392
studytime  -0.108013 -0.025345  0.219299  0.197970
failures    0.082751  0.148861 -0.375915 -0.392280
famrel      0.098820 -0.088077  0.037991  0.056950
freetime    0.133802 -0.028348 -0.009352 -0.023993
goout      -0.023304  0.098652 -0.022812 -0.078541
Dalc        0.068844  0.140812 -0.157281 -0.155127
Walc        0.131520  0.150127 -0.183881 -0.184960
health      1.000000 -0.025637 -0.094351 -0.114805
absences   -0.025637  1.000000 -0.138533 -0.127470
G1         -0.094351 -0.138533  1.000000  0.854106
G2         -0.114805 -0.127470  0.854106  1.000000

Index(['StudentID', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2'],
      dtype='object')

*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
         StudentID          G3
count   678.000000  678.000000
mean   1516.181416   11.308260
std     303.029891    3.833417
min    1001.000000    0.000000
25%    1253.250000   10.000000
50%    1508.000000   11.000000
75%    1780.750000   14.000000
max    2043.000000   20.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  678 non-null    int64
 1   G3         678 non-null    int64
dtypes: int64(2)
memory usage: 10.7 KB
None

           StudentID        G3
StudentID   1.000000  0.079645
G3          0.079645  1.000000

Index(['StudentID', 'G3'], dtype='object')

*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [17]:
del_cols = ['StudentID']
num_cols = ['age', 'traveltime', 'studytime','failures', 'absences', 'G1', 'G2']
cat_cols = ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup',  'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health']
y_col = ['G3']
X_cols = num_cols + cat_cols

## 3.2 Missing Values

In [18]:
for datum in data:
    print(datum.isnull().sum())
    print('*  ' * 40)
    print()

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

StudentID    0
G3           0
dtype: int64
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

## 3.3 Encoding

In [19]:
X = pd.concat([X_train, X_test])
for col in cat_cols:
    print(X[col].unique())

le = LabelEncoder()

for col in cat_cols:
    le.fit(X[col])
    X_train[col] = le.transform(X_train[col])
    X_test[col] = le.transform(X_test[col])

['GP' 'MS']
['F' 'M']
['U' 'R']
['GT3' 'LE3']
['T' 'A']
[4 3 1 2 0]
[3 4 2 0 1]
['other' 'health' 'services' 'at_home' 'teacher']
['other' 'teacher' 'services' 'at_home' 'health']
['reputation' 'other' 'course' 'home']
['father' 'mother' 'other']
['no' 'yes']
['yes' 'no']
['yes' 'no']
['no' 'yes']
['yes' 'no']
['yes' 'no']
['yes' 'no']
['no' 'yes']
[4 2 5 3 1]
[3 4 5 2 1]
[3 4 2 5 1]
[1 2 3 5 4]
[1 3 2 4 5]
[3 4 5 1 2]

# 4. Modeling

## 4.1. Seperate Data Set

In [20]:
X = X_train[X_cols]
X_test_fin = X_test[X_cols]
y = y_train[y_col]

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

## 4.2. Data Scaling

In [21]:
scaler = StandardScaler()
scaler.fit(X_train[num_cols])
X_train[num_cols] = scaler.transform(X_train[num_cols]) 
X_test_fin[num_cols] = scaler.transform(X_test_fin[num_cols]) 
X_val[num_cols] = scaler.transform(X_val[num_cols])

/var/folders/pf/3nx9qgs16f73_h0z28r_08780000gn/T/ipykernel_1943/192936522.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_fin[num_cols] = scaler.transform(X_test_fin[num_cols])

## 4.3. Data Modeling

In [22]:
rf1 = RandomForestRegressor(max_depth=2, random_state=0)
rf1.fit(X_train, y_train.values.ravel())
rf1_pred = rf1.predict(X_val)

xgb1 = XGBRegressor(random_state=0)
xgb1.fit(X_train, y_train)
xgb1_pred = xgb1.predict(X_val)

## 4.4. Model Evaluation

In [23]:
rf1_score = r2_score(y_val, rf1_pred)
xgb1_score = r2_score(y_val, xgb1_pred)
print(f'튜닝 전 -> random forest score: {rf1_score}, xgboost: {xgb1_score}')

튜닝 전 -> random forest score: 0.8137288134470838, xgboost: 0.8065366883847467

## 4.5. Hyper-parameter Tuning

In [10]:
rf_parameters = {
    'max_depth':[2,4,8], 
    'min_samples_leaf':[1, 2, 3],
    'min_samples_split': [2,4,6],
    'n_estimators':[100,500,1000]
    }
rf_cv = GridSearchCV(rf1, rf_parameters, scoring = 'r2', cv=5)
rf_cv.fit(X_train, y_train.values.ravel())
print(rf_cv.best_params_)

xgb1_parameters = {
    'colsample_bytree':[0.6, 0.8, 1.0], 
    'learning_rate':[0.1, 0.2, 0.01],
    'max_depth': [3,6,9],
    'n_estimators':[100,500,1000]
    }
xgb_cv = GridSearchCV(xgb1, xgb1_parameters, scoring = 'r2', cv=5)
xgb_cv.fit(X_train, y_train)
print(xgb_cv.best_params_)

{'max_depth': 6, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 500}
{'colsample_bytree': 1.0, 'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 500}

## 4.6. Model Selections

In [11]:
rf2 = RandomForestRegressor(max_depth=6, min_samples_leaf=3, min_samples_split=2, n_estimators=500, random_state=0)
rf2.fit(X_train, y_train.values.ravel())
rf2_pred = rf2.predict(X_val)

xgb2 = XGBRegressor(colsample_bytree=1, learning_rate=0.01, max_depth=3, n_estimators=500, random_state=0)
xgb2.fit(X_train, y_train)
xgb2_pred = xgb2.predict(X_val)

rf2_score = r2_score(y_val, rf2_pred)
xgb2_score = r2_score(y_val, xgb2_pred)
print(f'튜닝 후 -> random forest score: {rf2_score}, xgboost: {xgb2_score}')

튜닝 후 -> random forest score: 0.8571565086819269, xgboost: 0.8449625507322935

# 5. Conclusion

In [12]:
rf2_pred_X_test = rf2.predict(X_test_fin)
result = pd.DataFrame({'StudentID':X_test.StudentID, 'G3':rf2_pred_X_test})
print(result.head(10))
result_score = r2_score(y_test.iloc[:,1], rf2_pred_X_test)
print('R2 score: ',result_score.round(4))
result.to_csv('1234.csv',index=False)

   StudentID         G3
0       1000  16.186060
1       1008  11.218828
2       1013  14.249947
3       1014   7.028670
4       1017  10.648040
5       1018  14.298236
6       1021  17.765441
7       1024  12.978773
8       1025  13.043516
9       1031  12.650214
R2 score:  0.8249